/*Root color init*/
:root
{
    --college-board-black: #221f1f;
    --college-board-blue: #009cde;
    --college-board-grey: #c1c1c1;
    --cb-font-family: Roboto,sans-serif;
    overflow: auto;
}

body
{
    margin: 0;
    font-family: var(--cb-font-family);
}

.noDrag
{
    -webkit-user-drag: none;
}

/*I think they call this a global header*/
#cb-banner
{
    border-top: 5px solid var(--college-board-blue);
    text-align: center;
    border-bottom: 2px solid #ccc;
    height: 44px;
}

.dpad
{
    height: 100%;
    margin-left: 7%;
    margin-right: 7%;
    padding-left: 3%;
    padding-right: 3%;
}

.banner-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

::before, ::after, .bbox
{
    box-sizing: border-box;
}

.no-shrink
{
    flex-shrink: 0;
}

.cbBox, .signBox
{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.menu-control
{
    background-color: var(--college-board-black);
}

.menu-control a
{
    display: block;
    border-right: 1px solid gray;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-decoration: none;
    cursor: pointer;
    font: 18pt var(--cb-font-family);
}

.arrow-down
{
    border-style: solid;
    border-color: var(--college-board-grey);
    border-width: 0px 3px 3px 0px;
    padding: 4px;
    display: inline-block;
    transform: rotate(45deg);
}

.cb-logo img, .ap-logo img, .cb-logo, .ap-logo
{
    height: 44px;
}

.ap-logo img
{
    padding-left: 2px;
    padding-right: 2px;
    background-color: var(--college-board-blue);
}

.transparent
{
    background-color: transparent;
}

.self-align
{
    align-self: center;
}

.login-box, .search-box
{
    display: flex;
    align-items: center;
}

.login-box
{
    text-decoration: none;
    color: #221f1f;
    height: 100%;
    padding-right: 4px;
    padding-left: 4px;
    margin-left: 4px;
    margin-right: 0px;
    min-width: 44px;
    cursor: pointer;
}

.login-box .sign-in
{
    color: inherit;
    font: bold 14px var(--cb-font-family);
}

.sign-in
{
    margin-right: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.glyph
{
    display: inline-block;
    font-size: 32px !important;
    background-color: black;
    
    width: 1em;
    height: 1em;

    border-radius: 50%;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
}

.userPhoto
{
    width: 60%;
    height: 60%;
    margin: auto;
}

.search-box
{
    width: 250px;
    margin-left: 20px;
    margin-top: 0px;
    border-bottom: 3px solid #000;
}

.search-input
{
    text-shadow: none;
    box-shadow: none;
    height: 32px;
    width: auto;
    line-height: 32px;
    padding: 0px 15px 0px 15px; /*Someone read CB site's box model again I'm bad at doing that*/
    display: inline;
    outline: 0px;
    font: 16px var(--cb-font-family);
    color: black;
    border: none;
}

.search-btn
{
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    margin-right: 5px;
    margin-top: 1px;
}

.search-btn img
{
    line-height: 32px;
    width: 100%;
    height: 100%;
}