@font-face 
{
    font-family: "Roboto Slab";
    src: url("./fonts/RobotoSlab-Regular.ttf");
}

@font-face 
{
    font-family: "Roboto Slab Bold";
    src: url("./fonts/RobotoSlab-Bold.ttf");
}

.main-dp
{
    margin-left: 12%;
    margin-right: 12%;
    padding-left: 15%;
    padding-right: 15%;
    width: 46%;
}

@media (max-width: 1500px)
{
    .main-dp
    {
        margin-left: 10%;
        margin-right: 10%;
        padding-left: 15%;
        padding-right: 15%;
        width: 50%;
    }
}

#main-content
{
    box-sizing: border-box;
}

#not-a-student
{
    padding: 12px;
    border: 0px;
    background-color: #f0f0f0;
    color: var(--college-board-text-black);
    margin-bottom: 24px;
}

.not-student-content div
{
    font: 1rem "Roboto Slab Bold";
    line-height: 1.5em;
    margin: 0px;
}

.not-student-content p, .not-student-content .link
{
    font: .875rem "Roboto",sans-serif;
    line-height: 1.7em;
    margin: 0px;
}

.not-student-content .link
{
    font-weight: bold;
}

.link /*Use for all generic links*/
{
    color: #0077c8;
    text-decoration: none;
    font-family: "Roboto",sans-serif;
    background-color: transparent;
}

#courseAnchor
{
    border-bottom: 1px solid #d9d9d9;
}

#courseAnchor ul
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#courseAnchor ul li
{
    list-style-type: none;
    margin-right: 48px;
}

.course-link
{
    outline: 0px;
    color: var(--college-board-default-black);
    border-bottom: 2px solid white;
    text-decoration: none;
    display: block;
    font-size: .875em;
    line-height: 1.7em;
    padding-bottom: 10px;
    cursor: pointer;
    
    transition-property: border-bottom;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.course-link:hover
{
    border-bottom: 2px solid var(--college-board-black);
}

#aboutCourse
{
    font-family: var(--cb-font-family);
    color: var(--college-board-text-black)
}

.title-header
{
    line-height: 24px;
    padding-bottom: 12px;
    border-bottom: 4px solid var(--college-board-text-black);
    margin-bottom: 20px;
}

.text, .checkbox-list span
{
    margin-bottom: 24px;
    font-family: var(--cb-font-family);
    font-size: 1rem;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
}

.h3-header
{
    font: 1.1875rem "Roboto Slab Bold",sans-serif;
    line-height: 1.25em;
    margin: 0px;
}

.checkbox-list
{
    list-style-type: none;
    box-sizing: border-box;

    display: grid;
    grid-column: 1 / span 2;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;

    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
}

.checkbox-list li
{
    box-sizing: border-box;
    padding: 24px 24px 24px 24px;
    
    display: flex;
    flex-direction: row;
}

.checkbox-list li p
{
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0px;
}

.checkbox-list li img
{
    width: 1rem;
    padding-right: 8px; /*Width should add up to 24px*/
    padding-top: 3px;
    height: 1rem;
    -webkit-user-drag: none;
}
/*.checkbox-list li::before
{
    position: absolute;
    display: block;
    top: 27px;
    left: 24px;
    width: 1rem;
    height: 1rem;
    font: 400 1rem var(--cb-font-family);
    color: var(--college-board-text-black);
    
    content: "\e90b";
}*/